# Application Configuration
PORT=3000

# API Keys
OPENAQ_API_KEY=
OPENWEATHER_API_KEY=
TOMTOM_API_KEY=
OPENROUTESERVICE_API_KEY=
OLA_MAPS_API_KEY=

# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=anti_pollution
DB_HOST=localhost
DB_PORT=5432
DB_CONNECTION=postgresql://postgres:postgres@localhost:5432/anti_pollution
# Redis Configuration
REDIS_URL=redis://localhost:6379
